h1{
  font-size: 40px;
}
input[type=text]{
  width: 30em;
  height: 4em;
  border: 1px solid #696969;
  box-sizing: border-box;
  margin-bottom: 2em;
}

input[type=submit]{
  padding:6px 0 6px 0;
  font:Bold 16px sans-serif;
  background:#8B0000;
  color:#dcdcdc;
  width: 22.5em;
  height: 4em;
  border-radius:2px;
  border:none;
}

#container{
  padding-left: 2.5%;
}
